
<nav class="navbar navbar-expand-lg" style="background-color: #f1afc9ff !important;" data-bs-theme="light">
    
    <div class="container-fluid">
        <a class="btn btn-light px-2 mx-2 text-dark" 
            data-bs-toggle="offcanvas" 
            href="#offcanvasExample" 
            role="button" 
            aria-controls="offcanvasExample">
            <i class="fa fa-bars" style="font-size: 1rem;"></i>
        </a>
        <a class="navbar-brand fw-bold" style="color: #97187cff !important;" href="#">Control de Inventario de Materiales e Insumos</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item m-1">
                    <a class="btn text-dark" style="background-color: #EE82EE !important; border-color: #EE82EE;" href="#">Reseña</a>
                </li>
                
                <li class="nav-item m-1">
                    <a class="btn text-dark" style="background-color: #EE82EE !important; border-color: #EE82EE;" href="#">Catálogo</a>
                </li>
                
                <li class="nav-item m-1">
                    <a class="btn text-dark" style="background-color: #EE82EE !important; border-color: #EE82EE;" href="#">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>